<!DOCTYPE html>
<html>
	<head>
		<title>Smarter Voicemail</title>
		<link href="../assets/css/override.css" rel="stylesheet"/>
		<link href="../assets/css/app.css" rel="stylesheet"/>
	</head>
	<body>
		<section>
			<h1>Welcome to smarter voicemail</h1>
			<ul>
				<li>Benefit number 1</li>
				<li>Benefit number 2</li>
				<li>Benefit number 3</li>
				<li>Benefit number 4</li>
				<li>Benefit number 5</li>
			</ul>
			<p>Signup is free and takes 90 seconds</p> 
			<a class="button" href="signup.html">Signup</a>
			<a class="button" href="login.html">Login</a>
		</section>
		<script src="assets/javascripts/main.js"></script>
	</body>
</html>
