<!DOCTYPE html>
<html>
	<head>
		<title>Your number - Smarter Voicemail</title>
		<link href="../assets/css/override.css" rel="stylesheet"/>
		<link href="../assets/css/app.css" rel="stylesheet"/>
	</head>
	<body>
		<section>
			<h1>Step 1: Here's your number</h1>
			<p class="big"><span>+44</span>000000000</p>
			<p>Don't worry we'll email you it too</p> 
			<a class="button" href="working-hours.html">Continue</a>
		</section>
		<script src="assets/javascripts/main.js"></script>
	</body>
</html>
