<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Number - AppName</title>
		<link href="../assets/css/font-awesome.css" rel="stylesheet">
		<link href="../assets/css/override.css" rel="stylesheet"/>
		<link href="../assets/css/app.css" rel="stylesheet"/>
	</head>
	<body>
		<header>
			<span><i class="icon-volume-up"></i>AppName</span>
			<ul>
				<li><a href="#">Signout</a></li>
			</ul>
		</header>
		<section>
			<h1>You're good to go!</h1>
			<ul class="details">
				<li><i class="icon-phone"></i> 07545523641</li>
				<li><i class="icon-envelope"></i> chris@chrismahon.com</li>
			</ul>
			<p>It's as simple as that. When someone calls your number, we'll take a message and email you a text version. Give it a try</p>
		</section>
		<script src="../assets/javascripts/app.js"></script>
	</body>
</html>
